<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Newsstand</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- css reset and stylesheet -->
	<link rel="stylesheet" href="./assets/css/reset.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/style.css" type="text/css" />
	<!-- UIkit CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/css/uikit.min.css" />
	<!-- google fonts link-->
	<link href="https://fonts.googleapis.com/css?family=Diplomata+SC" rel="stylesheet">
	<!-- icons fontawsome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
	 crossorigin="anonymous">
	
</head>

<body>
	{{{ body }}}

	<!-- UIkit JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/js/uikit.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/js/uikit-icons.min.js"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
</body>

</html>