<nav class="uk-navbar-container uk-margin uk-navbar-primary" uk-navbar style="background-color:black;  margin-bottom:0%;">
    <div class="uk-navbar-center">
        <a class="uk-navbar-item uk-logo uk-navbar-center" href="/">
            <h2 id="logo">Newsstand</h2>
        </a>

    </div>

</nav>

<div class="uk-inline">
    <img src="./assets/img/newspaper.jpg" alt="newsstand" style="width:100%" />
    <div class="uk-position-center">
        <a href="/scrape" id="scraper" class="uk-button uk-button-primary uk-overlay " style="padding:20px; font-size:x-large;">
            <b>Scrape New Articles!</b>
        </a>
    </div>
</div>

<section style="text-align:center; ">
    <a id="saved" href="/saved">
        <h2 style="color:rgb(255, 255, 255); padding:20px; background-color:dodgerblue; margin-bottom:0%;">
            <B>SAVED ARTICLES</B>
        </h2>
    </a>
    </div>
</section>

<div class="uk-section" style="background-color:rgb(225, 220, 220);">
    {{#each piece}}
    <div class="uk-container" >
        <div class="uk-card uk-card-default">
            <div class="uk-card-header " style="background-color:dodgerblue;">
                <h4 class="uk-card-title-I uk-inline">{{this.title}}</h4>

                <button id="articlesI" data-id={{this._id}} class="articles uk-button uk-button-primary" href="#" onclick="myFunc()" >Saved Articles</button>
<!--
                <button class="uk-button uk-button-danger" hidden>
                    <b>Delete From Saved</b>
                </button>
                -->
            </div>
            <div class="uk-card-body">
                <p><a>{{this.link}}</a></p>
            </div>
        </div>
    </div>
    <br style="line-height:30px; "> {{/each}}
</div>

<br>

     <div id="modal-overflow" uk-modal>
                    <div class="uk-modal-dialog">

                        <button class="uk-modal-close-default" type="button" uk-close></button>

                        <div class="uk-modal-header">
                            <h2 class="uk-modal-title">Notes</h2>
                        </div>

                        <div class="uk-modal-body" uk-overflow-auto>

                            <div id="modaling" class="uk-card-default">
                            <form action="/notes" method="POST">

                            </div>
                                <div class="uk-margin">
                                    <input id="testing" name="testing" type="text" class="uk-textarea" rows="5" placeholder="Write Notes"></input>
                                </div>

                        </div>

                        <div class="uk-modal-footer uk-text-right">
                            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                            <button id="sendbutton" name="testingName" class="uk-button uk-button-primary" value="testingval" type="submit" >Save</button>
                        </div>
                        </form>
                    </div>
                </div>


<script>

 function myFunc(){

 var clickerId = $(".articles").attr("data-id")
 console.log(clickerId);
 }

</script>
	<script src="./assets/js/index.js"></script>
